*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proxima Nova';
}

body {
  background-color: #FFDF8C;
}

.app {
  max-width: 1340px;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.03);
  margin: 52px auto;
  padding: 40px 35px;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/proximanova_regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/proximanova_extrabold.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/proximanova_bold.woff2') format('woff2');
  font-weight: 700;
}